@import "style/theme";

@keyframes Logo-spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.Logo {
    padding-right: $default-spacing * 4;
    height: 64px;

    #gear {
        transform-origin: 50.75% 53%;
    }

    .Logo-main {
        fill: $color-secondary;
    }
}

.Logo.spinning #gear {
    animation: Logo-spin 10s infinite linear;
}

.Logo.error .Logo-main {
  fill: $color-primary;
}