@import "style/theme";

.Modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    padding: $default-spacing * 8;
    overflow: auto;

    background: transparentize($color-secondary-dark, 0.5);

    > .content {
        background: #333;
        color: white;
    }
}
