@import "style/theme";

.AuthoredContent {
    display: grid;
    grid: auto auto / auto 1fr;
    grid-template-areas:
        "avatar info   "
        "avatar content";

    > img {
        grid-area: avatar;
        width: 64px;
        height: 64px;
        margin-right: $default-spacing * 4;
    }

    > .info {
        grid-area: info;
    }

    > .info > .title {
        font-weight: bold;
    }

    > .info > .author {
        color: $color-secondary-light;
        text-shadow: 0 0 2px black;
    }

    > .content {
        grid-area: content;
    }
}