// Colors
$color-primary: #fe4d1c;
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #1677c1;
$color-secondary-dark: darken($color-secondary, 10%);

$color-gold: #fec414;


// Spacings
$default-spacing: 4px;


// Borders
$border-radius: 5px;

@mixin mobile {
  @media screen and (max-width: 720px) {
    @content;
  }
}